
name: ci

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-2025

    steps:
      - uses: actions/checkout@v4
      - name: Install Debugging Tools via Visual Studio Installer
        shell: pwsh
        run: |
          winget install --id Microsoft.WinDbg -e --accept-source-agreements --accept-package-agreements
          Get-Command cdb.exe | Format-List
