
name: ci

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-2025

    steps:
      - uses: actions/checkout@v4
      - name: Install Debugging Tools via Visual Studio Installer
        shell: pwsh
        run: |
          $vsInstaller = "${env:ProgramFiles(x86)}\Microsoft Visual Studio\Installer\vs_installer.exe"
          $vsPath = "C:\Program Files\Microsoft Visual Studio\2022\Enterprise"

          if (-not (Test-Path $vsInstaller)) {
            Write-Host "Visual Studio Installer not found"
            exit 1
          }

          Write-Host "Installing Debugging Tools for Windows..."
          & $vsInstaller modify `
            --installPath "$vsPath" `
            --add Microsoft.VisualStudio.Component.Windows10SDK.DebugTools `
            --quiet --norestart --nocache

          Write-Host "Checking for cdb.exe..."
          Get-ChildItem "C:\Program Files (x86)\Windows Kits\10\Debuggers\x64\" -Recurse | Select-Object FullName
          $env:PATH += "C:\Program Files (x86)\Windows Kits\10\Debuggers\x64"
          cdb.exe /?
