
name: ci

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-2025

    steps:
      - uses: actions/checkout@v4
      - name: Install Debugging Tools via Visual Studio Installer
        shell: pwsh
        run: |
          $sdk = "$env:TEMP\sdksetup.exe"
          Invoke-WebRequest -Uri "https://go.microsoft.com/fwlink/?linkid=2338977" -OutFile $sdk
          & $sdk /quiet /norestart /features OptionId.WindowsDesktopDebuggers /log "$env:TEMP\sdk.log"

          Write-Host "Checking for cdb.exe..."
          Get-ChildItem "C:\Program Files (x86)\Windows Kits\10\Debuggers\x64\" -Recurse | Select-Object FullName
